h1 {
  text-align: center;
  font-weight: 400;
  text-decoration: rgba(0, 0, 255, 0.89) underline wavy;
  letter-spacing: 15px;
  font-size: 80px;
  font-family: Arial;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}
